<% @creatures.each do |creature| %>
<%= link_to creature.name, creature_path(creature) %>
<p>Description:</p><%= creature.description %>
<% end %>


<%= link_to "Add new Creature", new_creature_path %>